.mail-container {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.mail-container .product-img {
  height: 240px;
  width: 320px;
}
.mail-container #invoice .invoice-title h2,
.mail-container #invoice .invoice-title h3 {
  display: inline-block;
}
.mail-container #invoice .table > tbody > tr > .no-line {
  border-top: none;
}
.mail-container #invoice .table > thead > tr > .no-line {
  border-bottom: none;
}
.mail-container #invoice .table > tbody > tr > .thick-line {
  border-top: 2px solid;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
