#authentication {
  font-family: 'Open Sans', sans-serif;
  background-color: #3b3d39;
}
#authentication .password-helper {
  float: right;
  font-size: 80%;
  position: relative;
  top: -10px;
}
#authentication .panel-body {
  padding-top: 30px;
  margin: 0 10px 0 10px;
}
#authentication .adm-login {
  margin-top: 10px;
}
#authentication .input-group > .rm {
  margin-left: 20px;
}
#authentication .disabled {
  cursor: not-allowed;
  color: #fff;
}
#authentication .error-msg {
  color: #f04124;
  font-weight: 700;
}
#authentication .login {
  top: 100px;
}
#authentication .auth-form {
  width: 65%;
  margin: 5px auto;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  padding: 10px;
  clear: both;
}
#authentication .session-info {
  width: 93%;
  margin: 0 auto;
}
#authentication .sec-info {
  font-size: 18px;
}
#authentication #ajax-image {
  display: none;
  background: rgba(128, 128, 128, 0.5) url('../../assets/images/ajax-loader.gif') no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#authentication .auth-container {
  margin-top: 5px;
}
#authentication textarea:focus,
#authentication input:focus,
#authentication input[type]:focus,
#authentication .uneditable-input:focus {
  border-color: #f39c12;
  box-shadow: none;
  outline: 0 none;
}
