
.search-result-container {
  .category-product {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    .product {
      margin-bottom: 30px;
      .product-image {
        .tag {
          width: 60px;
          height: 60px;
          line-height: 55px;
          font-size: 17px;
          right: 14px;
        }
      }
      .cart {
        opacity: 1;
        .lnk {
          margin: 8px 0px !important;
          a {
            background: #a8a8a8;
            padding: 8px 11px !important;
            margin-left: 10px;
            color: #fff !important;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:hover,
            &:focus {
              color: #fff !important;
            }
          }
        }
      }
    }
  }
  .category-product-inner {

    .product-list.product {
      border: 1px solid #f2f2f2;
      position: relative;
      margin-bottom: 30px;
      .product-info {
        padding: 10px 20px;
        .cart {
          margin-top: 20px;
        }
      }
      .tag {
        position: absolute;
        right: 12px;
        top: 18px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 17px;
        z-index: 999;
      }

    }
  }
}

